.conteudo-principal {
    width: 100%;
    height: 100%;
    background: #2d2e2d;
}

.conteudo-imagem {
    width: 100%;
    height: 100%;
    background: #416255;
}

.conteudo-formulario {
    width: 100%;
    height: 100%;
    background: #ff591e;
}

